<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
    <body>
        <h1>Address Book</h1>
        <h2>Enter contact information below:</h2>
        <form action="/contact" method="POST">
            <div>
                Name:
                <br>
                <input type="input" name="name" id="name">
            </div>
            
            <br>
            <div>
                Email:
                <br>
                <input type="input" name="email" id="email">
            </div>
            
            <br>
            <div>
                Phone Number:
                <br>
                <input type="input" name="phoneNumber" id="phoneNumber">
            </div>
            
            <br>
            <div>
                Date of Birth:
                <br>
                <input type="input" name="dateOfBirth" id="dateOfBirth">
            </div>
            
            <br>
            <input type="submit" value="Save">
        </form>
    </body>
</html>